<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Reservar</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1 class="text-3xl font-bold underline">Hello Tailwind</h1>
    <div class="container mx-auto px-4">
      <form class="flex-auto" onsubmit="">
        <label class="font-sans text-xl" for="name">Nome
          <input type="text" name="name" value="">
        </label>
        <label for="device">Mídia
          <input type="text" name="device" value="">
        </label>
        <label for="classroom">Sala
          <input type="text" name="classroom" value="">
        </label>
        <label for="date">Data e Horário
          <input type="datetime-local" name="date" value="">
        </label>
      </form>
    </div>
  </body>
</html>
