@import 'tailwindcss';

@plugin '@tailwindcss/forms';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  h1 {
    color: var(--color-off-white);
    font-size: var(--text-5xl);
    font-weight: var(--font-weight-semibold);
    letter-spacing: var(--tracking-normal);
  }

  h2 {
    color: var(--color-dark-blue);
    font-size: var(--text-4xl);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--tracking-normal);
  }

  h3 {
    color: var(--color-dark-blue);
    font-size: var(--text-(2rem));
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--tracking-normal);
  }

  h4 {
    color: var(--color-dark-blue);
    font-size: var(--text-(1.75rem));
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--tracking-normal);
  }

  h5 {
    color: var(--color-dark-blue);
    font-size: var(--text-2xl);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--tracking-normal);
  }

  h6,
  label {
    color: var(--color-dark-blue);
    font-size: var(--text-base);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--tracking-normal);
  }

  body {
    font-size: var(--text-base);
    font-weight: var(--font-weight-normal);
    background-color: var(--color-off-white);
    position: static;
  }

  caption {
    font-size: 0.625rem;
    font-weight: var(--font-weight-normal);
    color: var(--color-medium-gray);
  }

  button {
    font-size: var(--text-sm);
    font-weight: var(--font-weight-semibold);
  }

  small,
  span {
    font-size: var(--text-base);
    font-weight: var(--font-weight-normal);
    color: var(--color-medium-gray-2);
  }

  a {
    color: var(--color-light-blue);
    text-decoration: underline;
  }

  input {
    border-color: var(--color-dark-gray);
    height: 4rem;
    border-radius: 0.25rem;
  }

  input:focus,
  input:focus-visible {
    border-color: var(--color-light-blue);
  }

  input::placeholder input:placeholder-shown {
    color: var(--color-light-gray);
  }

  thead,
  th,
  tbody,
  td {
    border-color: var(--color-off-white);
    border: 1px solid;
  }
}

@layer components {
  .page-header {
    background-color: var(--color-medium-blue);
  }

  .form-wrapper {
    background-color: var(--color-white);
    border-radius: 24px;
    position: absolute;
  }

  .table-wrapper {
    background-color: var(--color-white);
    position: relative;
    top: 30vw;
    width: 91vw;
    border-radius: 24px;
    min-height: 70vh;
  }

  .table-header {
    background-color: #E9EBF4;
    color: var(--color-medium-gray);
    font-weight: var(--font-weight-bold);
    font-size: var(--text-xl);
  }

  .table-body {
    color: var(--color-medium-gray-2);
    font-weight: var(--font-weight-normal);
    font-size: var(--text-base);
    background-color: var(--color-white);
  }


  .btn-primary {
    color: var(--color-off-white);
    background-color: var(--color-medium-blue);
    padding: 0.5rem 1rem;
    text-align: center;
  }
}

@theme {
  --font-body: 'Inter', sans-serif;
  --font-heading: 'Poppins', sans-serif;
  --default-font-family: var(--font-body);

  /* Color Palette */
  --color-*: initial;
  --color-dark-blue: #070C24;
  --color-medium-blue: #1E2C76;
  --color-light-blue: #35469D;
  --color-light-blue-2: #6174D4;
  --color-off-white: #F3F4F9;
  --color-white: #FFFFFF;
  --color-dark-gray: #191919;
  --color-medium-gray: #4C4C4C;
  --color-medium-gray-2: #777777;
  --color-light-gray: #B3B3B3;
  --color-light-gray-2: #F2F2F2;
  --color--error-red: #FF383C;
}