<head>
    <title>Reservar</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <header class="page-header w-full h-72">
        <h1 class="ml-20 pt-12">EEM Tecla Ferreira</h1>
    </header>
    <main class="w-full h-full place-items-center">
        <div class="form-wrapper top-40 w-7xl p-14">
            <h2>Faça uma reserva</h2>
            <form class="grid grid-cols-8 grid-rows-6 gap-x-6 gap-y-7 w-full mt-14" [formGroup]="reservationForm"
                (ngSubmit)="submit()">
                <div class="col-span-4 row-span-2 flex flex-col">
                    <label class="" for="name">Nome do professor</label>
                    <input class="form-input rounded-sm border-light-blue" placeholder="Fulano de Tal" id="name"
                        type="text" name="name" formControlName="name" autocomplete="off">
                    @for (i of nameInputErrors; track i) {
                    <div>
                        <span class="text-error-red">{{ i }}</span>
                    </div>
                    }
                </div>
                <div class="col-span-2 row-span-2 flex flex-col">
                    <label for="device">Escolher mídia</label>
                    <input class="form-input rounded-sm border-light-blue" placeholder="Projetor 123" id="device"
                        type="text" name="device" formControlName="device">
                    @for (i of deviceInputErrors; track i) {
                    <div>
                        <span class="text-error-red">{{ i }}</span>
                    </div>
                    }
                </div>
                <div class="col-span-2 row-span-2 flex flex-col">
                    <label class="" for="classroom">Sala</label>
                    <input class="form-input rounded-sm border-light-blue" placeholder="9A" id="classroom" type="text"
                        name="classroom" formControlName="classroom">
                    @for (i of classroomInputErrors; track i) {
                    <div>
                        <span class="text-error-red">{{ i }}</span>
                    </div>
                    }
                </div>
                <div class="col-span-4 row-span-2 flex flex-col">
                    <label class="" for="date">Data da reserva</label>
                    <input class="form-input rounded-sm border-light-blue" id="date" type="date" name="date"
                        formControlName="date">
                    @for (i of dateInputErrors; track i) {
                    <div>
                        <span class="text-error-red">{{ i }}</span>
                    </div>
                    }
                </div>
                <div class="col-span-2 row-span-2 flex flex-col">
                    <label class="" for="startTime">Hora Inicial</label>
                    <input class="form-input rounded-sm border-light-blue" id="startTime" type="time" name="startTime"
                        formControlName="startTime" min="08:00" max="17:00" value="00:00" required>
                    @for (i of dateInputErrors; track i) {
                    <div>
                        <span class="text-error-red">{{ i }}</span>
                    </div>
                    }
                </div>
                <div class="col-span-2 row-span-2 flex flex-col">
                    <label class="" for="endTime">Hora Final</label>
                    <input class="form-input rounded-sm border-light-blue" id="endTime" type="time" name="endTime"
                        formControlName="endTime" min="08:00" max="17:00" value="00:00" required>
                    @for (i of dateInputErrors; track i) {
                    <div>
                        <span class="text-error-red">{{ i }}</span>
                    </div>
                    }
                </div>
                <div class="flex flex-row col-start-5 col-end-9 row-span-2 justify-end">
                    <span class="self-center">Confira as <a href="#">regras de reserva</a></span>
                    <button class="btn-primary rounded-xl h-16 w-66 ml-12 self-center" type="submit">Reservar
                        mídia</button>
                </div>
            </form>
        </div>
        <div class="table-wrapper px-14 py-16">
            <h2 class="mb-9">Reservas</h2>
            <table class="w-full">
                @if (this.reservations().length > 0) {
                <thead class="h-19 table-header">
                    <th class="border-off-white">Data da reserva</th>
                    <th class="border-off-white">Hora Inicial</th>
                    <th class="border-off-white">Hora Final</th>
                    <th class="border-off-white">Mídia</th>
                    <th class="border-off-white">Professor</th>
                    <th class="border-off-white">Sala</th>
                </thead>
                }
                @for (i of reservations(); track i; let ix = $index) {
                <tbody class="">
                    <tr class="text-center">
                        <td class="border-off-white">{{ ix+1 }}</td>
                        <td class="border-off-white">{{ i.name }}</td>
                        <td class="border-off-white">{{ i.device }}</td>
                        <td class="border-off-white">{{ i.classroom }}</td>
                        <td class="border-off-white">{{ i.date | date:'dd/MM/yy' }}</td>
                        <td class="border-off-white">{{ i.startTime | date:'HH:mm' }}</td>
                        <td class="border-off-white">{{ i.endTime | date:'HH:mm' }}</td>
                    </tr>
                </tbody>
                } @empty {
                <div class="w-95 h-85 items-center flex flex-col gap-x-6 place-self-center text-center">
                    <img class="mx-auto mb-6" width="258" height="258" ngSrc="../../../assets/empty-folder-icon.svg"
                        alt="Nenhuma reserva encontrada" priority>
                    <span class="text-medium-gray font-medium text-2xl text-balance">Ops! Parece que ainda não possuímos
                        reservas</span>
                </div>
                }
            </table>
        </div>
    </main>
</body>